body {
  min-height: 200vh; /* Ensure there is enough content to scroll */
  margin: 0;
}

.navbar {
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 1rem 2rem;
  width: 100%;
}

.navbarContainer {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  background: linear-gradient(90deg, rgb(0, 0, 0), #2563eb);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

.logo:hover {
  background: linear-gradient(90deg, #2563eb, rgb(0, 0, 0));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.linksContainer {
  display: flex;
  margin-left: auto;
}

.linksList {
  display: flex;
  gap: 1.5rem;
}

.link {
  font-size: 1.125rem;
  font-weight: 500;
  color: #4b5563;
  text-decoration: none;
}

.link:hover {
  color: #2563eb;
}

.mobileMenuIcon {
  font-size: 1.875rem;
  cursor: pointer;
  display: none;
  margin-left: auto;
}

.mobileMenu {
  display: none;
  width: 100%;
  background-color: white;
  padding: 1rem 0;
}

.mobileMenu.show {
  display: block;
}

.mobileMenuList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  align-items: flex-start;
}

.mobileLink {
  font-size: 1.125rem;
  font-weight: 500;
  color: #4b5563;
  text-decoration: none;
}

.mobileLink:hover {
  color: #2563eb;
}

.navbar.showMobileMenu {
  height: auto;
  padding-bottom: 5rem;
}

@media (max-width: 640px) {
  .linksContainer {
    display: none;
  }

  .mobileMenuIcon {
    display: block;
  }

  .navbarContainer {
    flex-direction: column;
  }

  .logo {
    font-size: 1.5rem;
  }

  .link, .mobileLink {
    font-size: 1rem;
  }

  .mobileMenuIcon {
    font-size: 1.5rem;
  }
}
