@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn, 
.black_btn,
.outline_btn {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #7c7fd6;
  color: #111;
  font-weight: 500;
  border: none;
  transition: 0.3s;
  padding: 12px 24px;
  min-width: 170px;
  max-width: 100%;
  width: auto;
  border-radius: 6px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 410px) {

  .btn,
  .black_btn,
  .outline_btn {
    font-size: 18px;
    font-weight: 400;
    min-width: fit-content;
    max-width: fit-content;
    padding: 10px;
  }
}

.btn:hover {
  background-color: #111;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

.black_btn {
  background: #111;
  color: #fff;
}

.black_btn:hover {
  background: #fff;
  color: #111;
  transition: 0.3s;
  cursor: pointer;
}

.outline_btn {
  background: transparent;
  color: #7c7fd6;
  border: 1px solid #7c7fd6;
}

.btn:hover {
  background-color: #111;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

.outline_btn:hover {
  background: #7c7fd6;
  color: #111;
  transition: 0.3s;
  cursor: pointer;
}

body {
  min-height: 200vh;
  /* Ensure there is enough content to scroll */
  margin: 0;
}

.navbar {
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 1rem 2rem;
  width: 100%;
}

.navbarContainer {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.7rem;
  font-weight: bold;
  background: linear-gradient(90deg, rgb(0, 0, 0), #353897, #5a5b8b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

.logo:hover {
  background: linear-gradient(90deg, #7c7fd6, rgb(0, 0, 0), #7c7fd6);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.linksContainer {
  display: flex;
  margin-left: auto;
}

.linksList {
  display: flex;
  gap: 1.5rem;
}

.link {
  font-size: 1.12rem;
  font-weight: 500;
  color: #4b5563;
  text-decoration: none;
}

.link:hover {
  color: #2563eb;
}

.mobileMenuIcon {
  font-size: 1.875rem;
  cursor: pointer;
  display: none;
  margin-left: auto;
}

.mobileMenu {
  display: none;
  width: 100%;
  background-color: white;
  padding: 1rem 0;
}

.mobileMenu.show {
  display: block;
}

.mobileMenuList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  align-items: flex-start;
}

.mobileLink {
  font-size: 1.125rem;
  font-weight: 500;
  color: #4b5563;
  text-decoration: none;
}

.mobileLink:hover {
  color: #2563eb;
}

.navbar.showMobileMenu {
  height: auto;
  padding-bottom: 5rem;
}

@media (max-width: 640px) {
  .linksContainer {
    display: none;
  }

  .mobileMenuIcon {
    display: block;
  }

  .navbarContainer {
    flex-direction: column;
  }

  .logo {
    font-size: 1.5rem;
  }

  .link,
  .mobileLink {
    font-size: 1rem;
  }

  .mobileMenuIcon {
    font-size: 1.5rem;
  }
}

.notfound {
  padding: 40px 100px;
  min-height: 800px;
}

.notfound .content {
  display: flex;
  min-height: 780px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.notfound .content h1 {
  font-size: 5rem;
  font-weight: 500;
}

.notfound .content p {
  font-size: 18px;
  color: #111;
}

.notfound .content .btn {
  width: fit-content;
  text-decoration: none;
}

@media (max-width: 950px) {
  .notfound .content h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 920px) {
  .notfound {
    padding: 40px 20px;
    min-height: 400px;
  }

  .notfound .content {
    min-height: 400px;
  }
}

@media (max-width: 560px) {
  .notfound .content h1 {
    font-size: 2.5rem;
  }

  .notfound .content p {
    text-align: center;
  }
}

@media (max-width: 410px) {
  .notfound .content h1 {
    font-size: 1.5rem;
  }
}

/* Footer styles */
.footer {
  background-color: #000000;
  color: white;
  padding: 4rem 0;
}

.footer .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.footer .logo {
  height: 6rem;
  object-fit: contain;
}

.footer .section-title {
  text-align: center;
  font-weight: 600;
  font-size: 1.125rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

.footer .section-content {
  color: #9faab6;
  margin-bottom: 1rem
}

.footer .section-content a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer .section-content a:hover {
  color: #1e60a1;
}

.footer .section-quick-links {
  color: #9faab6;
  text-align: center;
  margin-bottom: 1rem
}

.footer .section-quick-links a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer .section-quick-links a:hover {
  color: #1e60a1;
}

.footer .social-icons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.footer .social-icons a {
  color: #cbd5e0;
  transition: color 0.3s ease;
}

.footer .social-icons a:hover {
  color: #1e60a1;
}

.footer-note {
  text-align: center;
  font-size: 0.875rem;
  color: #a0aec0;
  background-color: #121213;
  padding: 1rem 0;
}

@media (min-width: 768px) {
  .footer .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
  }
}

@media (max-width: 768px) {
  .footer .social-icons {
    justify-content: center;
  }
}

.hero {
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 1700px;
  max-width: 1700px;
  margin: 0 auto;
  gap: 50px;
}

.hero h1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
}

.hero h4 {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(63, 62, 62);
}

.hero .box {
  max-width: 900px;
  text-align: center;
  background: linear-gradient(135deg, #8385be, #0e12eb);
  color: #000000;
  padding: 50px 75px;
  border-radius: 35px;
  letter-spacing: 1px;
  font-weight: 500;
  transition: 0.3s;
}

.hero .box:hover {
  transform: translateY(-10px);
  transition: 0.3s;
  background: #111;
  color: #fff;
}

@media (max-width: 1720px) {
  .hero {
    min-width: 100%;
    padding: 20px;
    text-align: center;
  }
}

@media (max-width: 810px) {
  .hero h1 {
    font-size: 2.2rem;
  }

  .hero .box {
    padding: 40px 20px;
  }
}

.services {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 1700px;
  max-width: 1700px;
  margin: 0 auto;
  gap: 50px;
}

.services h3 {
  font-size: 1.75rem;
  font-weight: 600;
  color: #7c7fd6;
  text-transform: uppercase;
}

.services .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 50px;
}

.services .grid .card {
  background: black;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 32px 20px;
  border-radius: 6px;
  transition: 0.3s;
}

.services .grid .card:hover {
  background: #7c7fd6;
  color: #111;
  transition: 0.3s;
}

.services .grid .card h4 {
  font-weight: 600;
  text-transform: uppercase;
}

@media (max-width: 1720px) {
  .services {
    min-width: 100%;
    padding: 50px 20px;
  }
}

.howItWorks {
  padding: 50px 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 50px;
  background: linear-gradient(135deg, #8385be, #0e12eb);
}

.howItWorks h3 {
  font-size: 1.75rem;
  font-weight: 600;
  color: #111;
  text-transform: uppercase;
}

.howItWorks .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.howItWorks .container .card {
  background: #fff;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 6px;
  transition: 0.3s;
}

.howItWorks .container .card:hover {
  transition: 0.3s;
  transform: translateY(-10px);
  background: #111;
  color: #fff;
}

.howItWorks .container .card .icon {
  width: fit-content;
  display: flex;
  background: #111;
  padding: 10px;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.howItWorks .container .card .icon svg {
  font-size: 40px;
  color: #fff;
}

.howItWorks .container .card:hover .icon {
  background: #fff;
  transition: 0.3s;
}

.howItWorks .container .card:hover .icon svg {
  color: #111;
}

.howItWorks .container .card h4 {
  font-size: 1.3rem;
  font-weight: 500;
}

.howItWorks .container .card p {
  color: gray;
}

@media (max-width: 1720px) {
  .howItWorks {
    padding: 50px 20px;
  }
}

@media (max-width: 600px) {
  .howItWorks .container .card {
    padding: 20px;
  }
}

.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #f8f8f8;
}

.loginPage .container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  padding: 20px 20px;
  border-radius: 10px;
  max-width: 1500px;
}

.loginPage .login-container {
  max-width: 620px;
}

.loginPage .container .header {
  color: #7c7fd6;
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.loginPage .container .header h3 {
  font-weight: 700;
  font-size: 1.6rem;
}

.loginPage .container .header img {
  width: 300px;
  height: 120px;
  margin: 0 auto;
}

.loginPage .container .header {
  text-align: center;
  margin-bottom: 30px;
}

.loginPage .container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.loginPage .container form .wrapper {
  display: flex;
  gap: 20px;
}

.loginPage .container form .inputTag {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.loginPage .container form .inputTag div {
  display: flex;
  align-items: center;
  border-radius: 7px;
}

.loginPage .container form .inputTag div input,
.loginPage .container form .inputTag div select,
.loginPage .container form .inputTag div textarea {
  background: #87878778;
  padding: 8px;
  border: none;
  width: 100%;
}

.loginPage .container form .inputTag div input:focus,
.loginPage .container form .inputTag div select:focus,
.loginPage .container form .inputTag div textarea:focus {
  outline: none;
}

.loginPage .container form .inputTag div svg {
  width: 10%;
  font-size: 1.5rem;
  background: #7c7fd6;
  height: 46px;
  padding: 8px;
  color: #fff;
}

.loginPage .container form button {
  padding: 12px;
  text-align: center;
  border: none;
  margin-top: 25px;
  font-weight: 700;
  color: #fff;
  background: #7c7fd6;
  font-size: 1.2rem;
  border-radius: 7px;
}

.loginPage .container form button:hover {
  background-color: #131313;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

.loginPage .container form a {
  padding: 12px;
  text-align: center;
  border: 1px solid #7c7fd6;
  margin-top: 25px;
  font-weight: 700;
  color: #7c7fd6;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 7px;
}

.loginPage .container form a:hover {
  border: 1px solid #7c7fd6;
  background-color: #131313;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

.loginPage .banner {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.loginPage .banner img {
  width: 100%;
  width: 550px;
  height: 550px;
}

@media (max-width: 1520px) {
  .loginPage {
    min-width: 100%;
  }
}

@media (max-width: 1030px) {
  .loginPage .container {
    margin: 0 auto;
  }
}

@media (max-width: 910px) {
  .loginPage .container form .wrapper {
    flex-direction: column;
  }
}

@media (max-width: 830px) {
  .loginPage {
    min-height: 100vh;
    height: auto;
  }

  .loginPage .container {
    flex: none;
    width: 100%;
    justify-content: flex-start;
    padding: 40px 20px;
  }

  .loginPage .banner {
    flex: none;
    display: none;
  }
}

.registerPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #f8f8f8;
}

.registerPage .container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  padding: 20px 20px;
  max-width: 1500px;
}

.registerPage .register-container {
  border-radius: 10px;
  max-width: 700px;
}

.registerPage .container .header {
  color: #7c7fd6;
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.registerPage .container .header h3 {
  font-weight: 700;
  font-size: 1.8rem;
}

.registerPage .container .header img {
  width: 320px;
  height: 130px;
  margin: 0 auto;
}

.registerPage .container .header {
  text-align: center;
  margin-bottom: 30px;
}

.registerPage .container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.registerPage .container form .wrapper {
  display: flex;
  gap: 20px;
}

.registerPage .container form .inputTag {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.registerPage .container form .inputTag div {
  display: flex;
  align-items: center;
  border-radius: 7px;
}

.registerPage .container form .inputTag div input,
.registerPage .container form .inputTag div select,
.registerPage .container form .inputTag div textarea {
  background: #ececec;
  padding: 10px;
  border: none;
  width: 100%;
}

.registerPage .container form .inputTag div input:focus,
.registerPage .container form .inputTag div select:focus,
.registerPage .container form .inputTag div textarea:focus {
  outline: none;
}

.registerPage .container form .inputTag div svg {
  width: 10%;
  font-size: 1.5rem;
  background: #7c7fd6;
  height: 48px;
  padding: 10px;
  color: #fff;
}

.registerPage .container form button {
  padding: 14px;
  text-align: center;
  border: none;
  margin-top: 25px;
  font-weight: 700;
  color: #fff;
  background: #7c7fd6;
  font-size: 1.3rem;
  border-radius: 7px;
}

.registerPage .container form button:hover {
  background-color: #131313;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

.registerPage .container form a {
  padding: 12px;
  text-align: center;
  border: 1px solid #7c7fd6;
  margin-top: 25px;
  font-weight: 700;
  color: #7c7fd6;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 7px;
}

.registerPage .container form a:hover {
  border: 1px solid #7c7fd6;
  background-color: #131313;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

.registerPage .banner {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.registerPage .banner img {
  width: 100%;
  width: 600px;
  height: 600px;
}

@media (max-width: 1520px) {
  .registerPage {
    min-width: 100%;
  }
}

@media (max-width: 1030px) {
  .registerPage .container {
    margin: 0 auto;
  }
}

@media (max-width: 910px) {
  .registerPage .container form .wrapper {
    flex-direction: column;
  }
}

@media (max-width: 830px) {
  .registerPage {
    min-height: 100vh;
    height: auto;
  }

  .registerPage .container {
    flex: none;
    width: 100%;
    justify-content: flex-start;
    padding: 40px 20px;
  }

  .registerPage .banner {
    flex: none;
    display: none;
  }
}

.jobs {
  padding: 40px 100px;
  min-height: 800px;
  background-color: #f9f9f9;
}

.jobs .wrapper {
  display: flex;
  gap: 50px;
}

.jobs .wrapper .filter-bar {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.jobs .wrapper .filter-bar .cities {
  flex-direction: column;
  gap: 7px;
  display: flex;
}

.jobs .wrapper .filter-bar .cities h2 {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}

.jobs .wrapper .filter-bar .cities div {
  display: flex;
  align-items: center;
  gap: 12px;
}

.jobs .search-tab-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  width: 750px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.jobs .search-tab-wrapper input {
  width: 100%;
  font-size: 20px;
  border-radius: 7px;
  padding: 12px 140px 12px 8px;
  border: 1px solid #ccc;
}

.jobs .search-tab-wrapper svg {
  display: none;
  position: absolute;
  right: 16px;
  top: 18px;
  color: #111;
}

.jobs .search-tab-wrapper button {
  position: absolute;
  right: 16px;
  top: 11px;
  background: #7c7fd6;
  color: #fff;
  font-weight: 500;
  padding: 2px 10px;
  border-radius: 7px;
  border: none;
}

.jobs .container {
  width: 75%;
}

.jobs .container .jobs_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-gap: 40px;
  padding: 50px 0;
  width: 100%;
}

.jobs .container .jobs_container .card {
  transition: 0.3s;
  text-decoration: none;
  background: #f5f5f5;
  height: fit-content;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.jobs .container .jobs_container .card .title {
  color: #111;
  background-color: #f1f0f0;
  text-align: center;
  border-radius: 8px;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}

.jobs .container .jobs_container .card .hiring-multiple {
  font-size: 16px;
  color: #008b00;
  background: #008b0033;
  padding: 3px 4px;
  border-radius: 5px;
  width: fit-content;
  margin-bottom: 8px;
}

.jobs .container .jobs_container .card .hiring {
  color: rgb(0, 145, 255);
  font-size: 16px;
  background: rgba(0, 145, 255, 0.338);
  padding: 3px 4px;
  border-radius: 5px;
  width: fit-content;
  margin-bottom: 8px;
}

.jobs .container .jobs_container .card .location {
  font-size: 20px;
  color: gray;
}

.jobs .container .jobs_container .card .businessOwner,
.jobs .container .jobs_container .card .contact-info,
.jobs .container .jobs_container .card .budget,
.jobs .container .jobs_container .card .jobSkill,
.jobs .container .jobs_container .card .qualifications,
.jobs .container .jobs_container .card .responsibilities,
.jobs .container .jobs_container .card .description,
.jobs .container .jobs_container .card .posted {
  font-size: 20px;
  color: gray;
}

.jobs .container .jobs_container .card .budget span,
.jobs .container .jobs_container .card .posted span,
.jobs .container .jobs_container .card .description span,
.jobs .container .jobs_container .card .responsibilities span,
.jobs .container .jobs_container .card .qualifications span,
.jobs .container .jobs_container .card .jobSkill span,
.jobs .container .jobs_container .card .contact-info span {
  font-weight: 600;
  color: #111;
}

.jobs .container .jobs_container .card:hover {
  transition: 0.3s;
  background: rgba(133, 133, 124, 0.19);
}

.jobs .jobs_container .card .btn-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 18px;
}

.mobile-filter {
  display: none;
}

@media (max-width: 920px) {
  .jobs {
    padding: 40px 20px;
  }

  .jobs .search-tab-wrapper {
    width: 100%;
  }
}

@media (max-width: 730px) {
  .jobs .wrapper .filter-bar {
    display: none;
  }

  .jobs .container {
    width: 100%;
  }

  .jobs .container .jobs_container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-top: 1px solid gray;
    margin-top: 20px;
  }

  .mobile-filter {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }

  .mobile-filter select {
    padding: 4px 8px;
  }
}

@media (max-width: 550px) {
  .jobs .container .jobs_container .card {
    padding: 20px 8px;
  }

  .mobile-filter select {
    width: 100%;
  }

  .jobs .search-tab-wrapper input {
    padding: 12px 55px 12px 8px;
  }

  .jobs .search-tab-wrapper button {
    display: none;
  }

  .jobs .search-tab-wrapper svg {
    display: block;
  }
}

.account {
  padding: 40px 100px;
  min-height: 800px;
}

.account .component_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.account .component_header p {
  font-weight: 500;
  color: #111;
}

.account .component_header p:last-child span {
  color: #7c7fd6;
}

.account .container {
  display: flex;
}

.account .container .sidebar {
  min-width: 252px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.account .container .sidebar h4 {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 24px;
  margin-bottom: 20px;
}

.account .container .sidebar .sidebar_links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.account .container .sidebar .sidebar_links button {
  color: gray;
  text-decoration: none;
  font-weight: 300;
  transition: 0.3s;
  border: none;
  background: transparent;
}

.account .container .sidebar .sidebar_links button:hover {
  color: #7c7fd6;
  transition: 0.3s;
}

.account .container .sidebar .sidebar_links .active {
  color: #7c7fd6;
}

.account .container .banner {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.account_components {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  min-height: 450px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
}

.account_components .view-resume {
  background: none;
  color: #0e00d4;
  padding: 8px 20px;
  font-size: 20px;
  width: fit-content;
  text-decoration: underline;
  border-radius: 0;
}

.account_components h3 {
  font-size: 30px;
  font-weight: 600;
  color: #7c7fd6;
  text-align: center;
}

.account_components div:first-child {
  font-size: 30px;
  font-weight: 500;
}

.account_components img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
}

.account_components div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.account_components div .label-infoTag-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.account_components div .label-infoTag-wrapper span {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
}

.account_components div input,
.account_components div select,
.account_components div textarea {
  background: #d6d4d4;
  border: none;
  border-radius: 5px;
  color: #3d3b3b;
  padding: 8px 3px;
}

.account_components div input:focus,
.account_components div select:focus,
.account_components div textarea:focus {
  outline: none;
}

.sidebar_icon {
  display: none;
}

.save_change_btn_wrapper .btn {
  width: fit-content;
}

.account_components input::file-selector-button {
  width: 100%;
  padding: 7px;
}

.account_components input[type="file"] {
  background: none;
}

.eye_icon {
  position: absolute;
  bottom: 12px;
  right: 20px;
  font-size: 24px;
}

.update_password_component div input {
  padding-right: 65px;
}

.account_components .inbox_container .card {
  background: #f5f5f5;
  padding: 22px 10px;
  text-decoration: none;
  color: #111;
  font-weight: 500;
  font-size: 22px;
  border-radius: 8px;
}

.account_components .inbox_container .card:hover {
  background: rgba(133, 133, 124, 0.19);
}

.account_components .applications_container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.account_components .applications_container .card {
  margin-bottom: 30px;
  background: #cfcfcf3d;
  padding: 25px 12px;
  border-radius: 7px;
}

.account_components .applications_container .card .sub-sec {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 16px;
  color: gray;
}

.account_components .applications_container .card .sub-sec span {
  font-weight: 600;
  font-size: 20px;
  color: #111;
}

.account_components .applications_container .card .sub-sec textarea {
  background: transparent;
  font-size: 16px;
}

.account_components .applications_container .card .btn-wrapper {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  flex-direction: row;
}

@media (max-width: 920px) {
  .account {
    padding: 40px 20px;
    min-height: 800px;
  }
}

@media (max-width: 712px) {
  .account_components h3 {
    margin-top: 27px;
  }

  .account .container .sidebar h4 {
    color: #fff;
  }

  .account .component_header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 1rem;
  }

  .sidebar_icon {
    display: flex;
    width: fit-content;
    padding: 5px;
    border-radius: 100%;
    position: relative;
    bottom: -18px;
  }

  .move_left {
    left: 0;
    transition: 0.3s;
    background: #111;
    z-index: 2;
  }

  .move_right {
    left: 252px;
    transition: 0.3s;
    background: #fff;
    z-index: 2;
  }

  .move_right svg {
    font-size: 30px;
    color: #111;
  }

  .move_left svg {
    font-size: 30px;
    color: #fff;
  }

  .account .container {
    position: relative;
  }

  .account .container .sidebar {
    position: absolute;
    transition: 0.3s;
    left: -100%;
  }

  .account .container .showSidebar {
    left: 0;
    transition: 0.3s;
    background: #111;
    height: 100%;
    width: 308px;
    padding: 20px 5px;
    z-index: 2;
  }

  .left_arrow {
    transition: 0.3s;
    transform: rotate(180deg);
  }

  .right_arrow {
    transition: 0.3s;
    transform: rotate(360deg);
  }
}

@media (max-width: 512px) {
  .save_change_btn_wrapper .btn {
    width: 100%;
  }

  .account_components img {
    margin: 0 auto;
  }
}

.chatting {
  min-width: 1700px;
  max-width: 1700px;
  margin: 0 auto;
  padding: 50px 0;
}

.chatting .container {
  max-width: 650px;
  border-radius: 6px;
  border: 1px solid gray;
  min-height: 550px;
  max-height: 550px;
  position: relative;
}

.chatting .container .header {
  background: gray;
}

.chatting .container .header span {
  font-size: 22px;
  font-weight: 600;
}

.chatting .container .header p {
  padding: 20px 10px;
}

.chatting .container .messages {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 424px;
}

.chatting .container .messages .receiver {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 50px;
}

.chatting .container .messages .receiver span {
  background: rgba(133, 133, 124, 0.19);
  padding: 7px;
  width: fit-content;
}

.chatting .container .messages .sender {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 50px;
}

.chatting .container .messages .sender span {
  background: #33c75557;
  padding: 7px;
  width: fit-content;
}

.chatting .container form {
  width: 100%;
  position: relative;
  border-top: 1px solid gray;
  position: sticky;
  bottom: 0;
  height: 51px;
}

.chatting .container form input {
  border: navajowhite;
  width: 100%;
  padding: 10px 54px 10px 5px;
}

.chatting .container form input:focus {
  outline: none;
}

.chatting .container form button {
  position: absolute;
  top: 8px;
  right: 14px;
  font-size: 25px;
  color: #008b00;
  background: transparent;
  border: none;
  overflow: hidden;
}

@media (max-width: 1720px) {
  .chatting {
    padding: 30px 20px;
    min-width: 100%;
  }
}

@media (max-width: 670px) {
  .chatting .container {
    min-width: 100%;
  }
}

@media (max-width: 550px) {
  .chatting .container .messages .receiver {
    margin-left: 0;
  }

  .chatting .container .messages .sender {
    margin-right: 0;
  }
}

/* .application_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 20px;
  gap: 20px;
}
.application_page h1 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.application_page div {
  min-width: 550px;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}
.application_page div input,
.application_page div textarea {
  background: #8080805e;
  border: none;
  color: #555;
  padding: 8px 3px;
}
.application_page div textarea:focus {
  outline: none;
}
@media (max-width: 620px) {
  .application_page div {
    min-width: 100%;
  }
} */

.application_page {
  display: flex;
  gap: 40px;
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 40px;
}

.application_page form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  padding: 50px 0;
}

.application_page form h3 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #5f62c9;
}

.application_page form div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.application_page form div label {
  font-weight: 500;
}

.application_page form div input,
.application_page form div textarea {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #e9e7e7;
  border-radius: 5px;
  font-size: 16px;
}

.application_page form div textarea {
  resize: none;
}

.application_page .btn {
  font-size: 18px;
  font-weight: 400;
  min-width: fit-content;
  max-width: fit-content;
  padding: 10px;
}

.btn:hover {
  background-color: #111;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

.application_page .job-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}

.application_page .job-details header {
  text-align: center;
  margin-bottom: 20px;
}

.application_page .job-details h3 {
  font-size: 24px;
  font-weight: 600;
}

.application_page .job-details header a,
.application_page .job-details header p {
  font-size: 16px;
  color: gray;
}

.application_page .job-details section .wrapper div span:first-child {
  font-weight: 500;
  color: #000000;
}

.application_page .job-details section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.application_page .job-details .wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.application_page .job-details .wrapper div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.application_page .job-details .wrapper div div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.application_page .job-details .wrapper div div span {
  font-size: 16px;
  color: gray;
}

.application_page .job-details .location-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.application_page .job-details .location-wrapper span {
  font-size: 16px;
  color: gray;
}

.application_page .job-details h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.application_page .job-details p {
  font-size: 16px;
  color: gray;
}

.application_page .job-details ul {
  list-style: inside;
  padding-left: 15px;
}

.application_page .job-details ul li {
  font-size: 16px;
  color: gray;
}

.application_page .job-details footer {
  text-align: center;
  margin-top: 20px;
}

.application_page .job-details footer p {
  font-size: 16px;
  color: gray;
}

/* Responsive Design */
@media (max-width: 1520px) {
  .application_page {
    padding: 20px;
  }
}

@media (max-width: 830px) {
  .application_page {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .application_page form {
    padding-top: 0;
  }
}

@media (max-width: 411px) {
  .btn {
    min-width: 100%;
  }
}

button:disabled {
  background: gray;
  cursor: not-allowed;
}

button:disabled:hover {
  background: gray;
  cursor: not-allowed;
  color: #111;
}

/*My Profile*/
.myprofile_account_components {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  min-height: 450px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
}

.myprofile_account_components .view-resume {
  background: none;
  color: #0e00d4;
  padding: 8px 20px;
  font-size: 20px;
  width: fit-content;
  text-decoration: underline;
  border-radius: 0;
}

.myprofile_account_components h3 {
  font-size: 30px;
  font-weight: 600;
  color: #7c7fd6;
  text-align: center;
}

.myprofile_account_components div:first-child {
  font-size: 28px;
  font-weight: 500;
}

.myprofile_account_components img {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  border: 3px solid #7c7fd6;
}

.myprofile_account_components div {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.myprofile_account_components div .label-infoTag-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.myprofile_account_components div .label-infoTag-wrapper span {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
  font-weight: 500;
}

.myprofile_account_components div input,
.myprofile_account_components div select,
.myprofile_account_components div textarea {
  background: #ececec;
  border: 1px solid #c4c4c4;
  color: #333;
  padding: 10px 5px;
  border-radius: 5px;
}

.myprofile_account_components div input:focus,
.myprofile_account_components div select:focus,
.myprofile_account_components div textarea:focus {
  outline: 2px solid #7c7fd6;
}

.myprofile_sidebar_icon {
  display: none;
}

.btn:hover {
  background-color: #111;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

.myprofile_account_components input::file-selector-button {
  width: 100%;
  padding: 7px;
}

.myprofile_account_components input[type="file"] {
  background: none;
  background-color: #f0f0f0;
}

.myprofile_account_components .inbox_container .card {
  background: #f0f0f0;
  padding: 24px 12px;
  text-decoration: none;
  color: #111;
  font-weight: 500;
  font-size: 22px;
  border-radius: 10px;
}

.myprofile_account_components .inbox_container .card:hover {
  background: rgba(133, 133, 124, 0.25);
}

.myprofile_account_components .applications_container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.myprofile_account_components .applications_container .card {
  margin-bottom: 25px;
  background: #7c7fd623;
  padding: 20px 10px;
  border-radius: 8px;
}

.myprofile_account_components .applications_container .card .sub-sec {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 16px;
  color: gray;
}

.myprofile_account_components .applications_container .card .sub-sec span {
  font-weight: 600;
  font-size: 20px;
  color: #111;
}

.myprofile_account_components .applications_container .card .sub-sec textarea {
  background: transparent;
  font-size: 16px;
}

.myprofile_account_components .applications_container .card .btn-wrapper {
  display: flex;
  gap: 18px;
  justify-content: flex-end;
  flex-direction: row;
}

@media (max-width: 920px) {
  .myprofile_account {
    padding: 40px 20px;
    min-height: 750px;
  }
}

@media (max-width: 712px) {
  .myprofile_account_components h3 {
    margin-top: 25px;
  }

  .myprofile_account .container .sidebar h4 {
    color: #fff;
  }

  .myprofile_account .component_header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 1rem;
  }

  .myprofile_sidebar_icon {
    display: flex;
    width: fit-content;
    padding: 5px;
    border-radius: 100%;
    position: relative;
    bottom: -18px;
  }

  .myprofile_account .container {
    position: relative;
  }
}

@media (max-width: 512px) {
  .save_change_btn_wrapper .btn {
    width: 100%;
  }

  .myprofile_account_components img {
    margin: 0 auto;
  }
}